django-jquery
django-bootstrap-toolkit
django-taggit-autosuggest
django-categories
djangorestframework
django-allauth
django-filebrowser
south
# Uncomment if using MySQL
#MySQL-python
# Uncomment for Shibboleth
git+git://github.com/Brown-University-Library/django-shibboleth-remoteuser.git
