django-bootstrap3
django-taggit-autosuggest
django-categories
djangorestframework
django-allauth
django-filebrowser
pillow
south
# Uncomment if using MySQL
#MySQL-python
# Uncomment for Shibboleth
#git+git://github.com/Brown-University-Library/django-shibboleth-remoteuser.git
