{% extends "images/base.html" %}

{% block content %}
<h2>{{ case }}</h2>

<p>{% for diagnosis in diagnoses %}
    {% for element in diagnosis.0 reversed %}
    <a href="{% url 'diagnosis' element.0 %}">{{ element.0|title }}</a> > 
    {% endfor %}
    <a href="{% url 'diagnosis' diagnosis.1.0 %}">{{ diagnosis.1.0|title }}
{% endfor %}</p>

<div class="row">
{% for resource in resources %}
	<div class="span3">
	<a href="{% url 'resource' resource.id %}"><img width="200" src="{{ resource.file.url }}" class="thumbnail"/>
	{{ resource }}</a>
	</div>
{% endfor %}
</div>
{% endblock %}
