import ldap, logging
from django_auth_ldap.config import LDAPSearch, ActiveDirectoryGroupType

logger = logging.getLogger('django_auth_ldap')
logger.addHandler(logging.StreamHandler())
logger.setLevel(logging.DEBUG) 

DEBUG = True
DEVELOPMENT = True
TEMPLATE_DEBUG = True

AUTH_LDAP_SERVER_URI = "ldap://ldap.umn.edu"
AUTH_LDAP_BIND_DN = ''
AUTH_LDAP_BIND_PASSWORD = ''
AUTH_LDAP_USER_SEARCH = LDAPSearch('o=University of Minnesota,c=US', ldap.SCOPE_SUBTREE, "(uid=%(user)s)",)
#AUTH_LDAP_GROUP_SEARCH = LDAPSearch('o=University of Minnesota,c=US', ldap.SCOPE_SUBTREE, "(objectClass=groupOfNames)")

#AUTH_LDAP_GROUP_TYPE = ActiveDirectoryGroupType()
#AUTH_LDAP_FIND_GROUP_PERMS = True
#AUTH_LDAP_CACHE_GROUPS = True
#AUTH_LDAP_GROUP_CACHE_TIMEOUT = 3600
#AUTH_LDAP_GLOBAL_OPTIONS = {
#    ldap.OPT_X_TLS_REQUIRE_CERT: False,
#    ldap.OPT_REFERRALS: False,
#} 

AUTH_LDAP_USER_ATTR_MAP = {
    "first_name": "givenName",
    "last_name": "sn",
    "email": "mail"
}

#AUTH_LDAP_USER_FLAGS_BY_GROUP = {
#    "is_staff":  "CN=SomeGroup,OU=Groups,OU=Chicago,DC=sub,DC=domain,DC=com",
#}

AUTHENTICATION_BACKENDS = (
    'django_auth_ldap.backend.LDAPBackend',
    'django.contrib.auth.backends.ModelBackend',
)
